@using Savanna.Backend
@using Savanna.Frontend
@using Savanna.Backend.Actors

@{
    ViewBag.Title = "Savanna Game";
    UIManager uiManager = ViewData["UIManager"] as UIManager;
    char[,] board = uiManager.GetGameBoard();
}

<h2>Welcome to Savanna!</h2>
<p>Loaded animals:</p>
@foreach (var kvp in AnimalFactory.AnimalTypes)
{
<p>Enter @kvp.Key to add @kvp.Value.Name.</p>

}

@* posts input to controller HandleInput action *@
<div>
    <form id="animalForm" method="post" action="@Url.Action("HandleInput", "Game")">
        <input id="animalSymbol" type="text" name="animalSymbol" maxlength="1" />
        <input type="submit" value="Add animal" />
    </form>
</div>

<div id="game-board">
    <table>
        <caption>Game board:</caption> 
        <tbody id="boardBody">
                @for (int i = 0; i < Constants.MaxY; i++)
                {
                    <tr>
                        @for (int j = 0; j < Constants.MaxX; j++)
                        {
                            <td id="cell-@i-@j">@board[i, j]</td>
                        }
                    </tr>
                }
        </tbody>
    </table>
</div>

<script>
    function updateBoard() {
        fetch('@Url.Action("GetGameBoard", "Game")')
            .then(response => {
                if (!response.ok {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(data => {
                document.getElementById('boardBody').innerHTML = data;
            })
            .catch(error => {
                console.error(error);
            });
    }

    document.getElementById('animalForm').addEventListener('submit', function (event) {
        event.preventDefault();
        var animalSymbol = document.getElementById('animalSymbol').value.toUpperCase();
        fetch('Game/AddAnimal', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ animalSymbol: animalSymbol })
        })
            .then(response => {
                if (!response.ok {
                    throw new Error('Network response was not ok');
                }
            })
            .catch(error => {
                console.error(error);
            });
    });

    setInterval(updateBoard, 1000);
</script>